@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

/************************* General settings *************************/
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
}

html {
    display: flex;
    flex-direction: column;
    align-items: center
}

body {
    width: min(100vw, 1920px);
    /* remove*/
    /* height: 3000px; */
    background-color: #000000;
}

/* remove */
main {
    background-color: white;
    height: 1000px;
}

/************************* Nav - menu *************************/
#section-menu-bar-nav {
    position: sticky;
    top: 0px;
    width: 100%;
    height: min(45px, 8vw);
    background-color: rgb(9, 112, 84, .9);
    box-shadow: 3px 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#logo-nav {
    width: min(75px, 9vw);
    height: min(75px, 9vw);
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 50%;
    box-shadow: 0px 5px 15px;
    cursor: pointer;
    transition: transform ease-in-out .2s;
}

#logo-nav:hover {
    transform: scale(105%);
}

/* Mnage on @media */
#contact-menu-bar-section {
    display: none;
}

/* Mnage the responsive nav on @media */
#responsive-nav-input {
    display: none;
}

#menu-bar-nav>ul {
    height: 100%;
    display: flex;
    flex-direction: row;
}

/* Icons-home adding padding left - right*/
#home-li>img {
    width: min(35px, 6vw);
    /*Black to white*/
    filter: invert();
    opacity: .75;
}

#menu-bar-nav>ul>li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(130px, 12vw);
    font-size: min(14px, 1.5vw);
    font-weight: bold;
    list-style: none;
    color: hsla(0, 0%, 100%, 0.75);
}

#menu-bar-nav>ul>li:hover {
    background-color: #10b98c;
    cursor: pointer;
}

/************************* Nav - menu > sub-menus *************************/
/* Arrows: expand and contract */
#sub-menu-bar-tryarchery, #sub-menu-bar-disciplines {
        display: flex; 
        flex-direction: row;
        justify-content: center;
        position: relative;
        padding: 0%;
}

#sub-menu-bar-tryarchery>div, #sub-menu-bar-disciplines>div {
    display: flex;
    align-items: center;
}

#sub-menu-bar-tryarchery>div>h3, #sub-menu-bar-disciplines>div>h3 {
    text-align: center;
}

#sub-menu-bar-tryarchery>div>i, #sub-menu-bar-disciplines>div>i {
    width: 20px;
    height: 20px;
    background-image: url('../icon/expand-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert();
}

#sub-menu-bar-tryarchery:hover>div>i, #sub-menu-bar-disciplines:hover>div>i {
    background-image: url('../icon/contract-icon.png');
}

/* sub-menus */
.ul-sub-menu-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 115%;
    left: 0px;
    background-color:#097054;
    list-style: none;
    width: min(210px, 22vw);
    height: min(180px, 22vw);
    opacity: 0;
    box-shadow: 3px 5px 10px black;
    transform: scaleY(0);
    transform-origin: top left;
    transition: all ease .3s;
}

.ul-sub-menu-bar>li {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
}

.ul-sub-menu-bar>li:hover {
    background-color: #10b98c;
}

#sub-menu-bar-tryarchery:hover>ul, #sub-menu-bar-disciplines:hover>ul {
    /* 410% to allow the sub menu shows up, from up to down.  */
    transform: scaleY(1);
    opacity: .9;
}

/************************* Social Media *************************/
#social-media-section::before {
    content: "";
    background-color: #d6ba02;
    width: 20px;
    height: 20px;
    position: absolute;
    top: calc(50% - 10px);
    left: -10px;
    rotate: 45deg;
    z-index: -1;
}

#social-media-section {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: -40px;
    top: 30%;
    background-color: #FFDE00;
    border-radius: 10px 0px 0px 10px;
    transition: right ease-out .1s;
}

#social-media-section:hover {
    right: 0px;
}

#social-media-section>.social-media {
    width: 35px;
    margin: 6px;
    cursor: pointer;
}

#social-media-section>.social-media:hover {
    transform: scale(110%);
}

#instagram {
    background-color: #FFDE00;
}

/************************* Header *************************/
header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: min(400px, 30vw);
}

#logo-header {
    display: none;
}

/************************* Header > div#div-slide-imgs-header *************************/
#div-slide-imgs-header {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.radio-slide-class {
    position: absolute;
    align-self: flex-end;
    width: min(20px, 2vw);
    height: min(20px, 2vw);
    margin-bottom: 1%;
    opacity: .7;
    transition: transform .1s ease;
}

.radio-slide-class:hover {
    transform: scale(1.2);
}

#input-images-slide-header-1 { margin-right: 6%; }
#input-images-slide-header-2 { margin-right: 2%;  }
#input-images-slide-header-3 { margin-right: -2%;  }
#input-images-slide-header-4 { margin-right: -6%;  }

#div-slide-imgs-header>img {
    width: 100%;
    height: 100%;
    display: none;
    transition: all ease 1s;
}

#div-images-header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#input-images-slide-header-1:checked ~ #div-images-header {
    background-image: url('../img/Image1.jpg');
}

#input-images-slide-header-2:checked ~ #div-images-header {
    background-image: url('../img/Image3.jpg');
}

#input-images-slide-header-3:checked ~ #div-images-header {
    background-image: url('../img/Image5.jpg');
}

#input-images-slide-header-4:checked ~ #div-images-header {
    background-image: url('../img/Image8.jpg');
}

/************************* main *************************/
.half-title-header {
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: min(80px, 5vw);
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 0%;
    text-shadow: 0px 5px 10px black;
}

/************************* footer *************************/
/* general settings */
#info-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #097054;
    padding: 5% 0%;
}

#info-footer fieldset {
    display: flex;
    flex-direction: column;
    width: min(300px, calc(86vw/3));
    border-color: #097054;
    padding: 2%;
    box-shadow: 0px 5px 10px black;
}

#info-footer legend {
    width: 50%;
    padding: 3% 0%;
    background-color: black;
    color: white;
    font-size: 1.3em;
    font-weight: bolder;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 5px 10px black;

}

/* general info footer */
#general-info-footer-fieldset {
    background-color: rgb(255, 222, 0, .1);
}

#general-info-footer-fieldset div {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 3%;
    margin-bottom: 3%;
}

#general-info-footer-fieldset div>* {
    margin-right: 2%;
}

/* map footer */
#map-footer-fieldset {
    background-color: rgb(101, 153, 255, .1);
}

#map-footer-fieldset>ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

#map-footer-fieldset li {
    margin: 2%;
}

/* social media footer */
#social-media-footer-fieldset {
    background-color: rgb(255, 153, 0, .1);
}

#social-media-footer-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#social-media-footer-div>img {
    width: min(50px, 10vw);
    height: min(50px, 10vw);
    background-color: rgb(255, 221, 0, .5);
    padding: 2%;
    border-radius: 20%;
    cursor: pointer;
    transition: transform ease .2s;
}

#social-media-footer-div>img:hover {
    transform: scale(1.2);
}

/* section copyrights */
#copyrights>p {
    text-align: center;
    padding: 2% 0%;
    color: white;
}

/************************* @media *************************/
/************************* @media *************************/
@media screen and (max-width: 720px) {

    /************************* @media - nav - menu *************************/
    #section-menu-bar-nav {
        flex-direction: row;
        justify-content: flex-end;
        z-index: 10;
    }

    #logo-nav {
        display: none;
    }

    #contact-menu-bar-section {
        display: initial;
        display: flex;
        align-self: center;
        font-size: 3vw;
        margin-right: 20%;
    }

    #phone-icon-menu-bar-section {
        width: 12%;
        margin-right: 5%;
    }

    #responsive-nav-input {
        display: initial;

        appearance: none;
        width: 9vw;
        height: 100%;
        background-image: url('../icon/menu-close.png');
        background-size: 65%;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: -1px 2px 3px;
    }

    #menu-bar-nav {
        position: absolute;
        top: 100%;
        background-color: #097054;
        height: 0vh;
        width: 0vw;
        opacity: .9;
        transition: all ease-out .2s;
    }

    #menu-bar-nav>ul {
        display: none;
    }

    #menu-bar-nav>ul>li {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        font-size: .9em;
        color: black;
    }

    #menu-bar-nav>ul>li>h3 {
        padding: 2.3% 5%;
    } 

    #home-li>img {
        padding: 2.3% 5%;
        filter: none;
        opacity: 1;
    }

    #responsive-nav-input:hover {
        background-color: #10b98c;
    }

    #responsive-nav-input:checked {
        background-image: url('../icon/menu-open.png');
    }

    #responsive-nav-input:checked+#menu-bar-nav {
        height: 100vh;
        width: 100vw;
    }

    #responsive-nav-input:checked+#menu-bar-nav>ul {
        display: block;
    }

    /************************* @media - nav - menu > sub-menus *************************/
    #sub-menu-bar-tryarchery>div, #sub-menu-bar-disciplines>div {
        justify-content: space-between;
        width: 100%;
    }

    #sub-menu-bar-tryarchery>div>h3, #sub-menu-bar-disciplines>div>h3 {
        padding: 2.3% 5%;
    }
    

    #sub-menu-bar-tryarchery>div>i, #sub-menu-bar-disciplines>div>i {
        filter: none;
        padding-right: 5%;
    }

    .ul-sub-menu-bar {
        top: 100%;
        opacity: 1;
        position: static;
        z-index:inherit;
        width: 100%;
        height: 0px;
        background-color: #12d19e;
        transform-origin: top;
        transform: scaleY(0);
        transition: all ease .3s;
    }

    #sub-menu-bar-tryarchery:hover>ul, #sub-menu-bar-disciplines:hover>ul {
        transform: scaleY(1);
        height: 130px;
    }

    .ul-sub-menu-bar>li {
        padding-top: 2%;
        padding-bottom: 2%;
        width: 100%;
        font-size: 16px;
        font-weight: lighter;
    }

    /************************* @media Social Media *************************/
    #social-media-section::before {
        display: none;
    }

    #social-media-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 10;
        width: min(120px, 22vw);
        background-color: #10b98c;
        border-radius: 5px;
        margin: 0.5%;
    }

    #social-media-section>.social-media {
        width: 100%;
        margin: 1%;
        cursor: pointer;
    }

    #social-media-section>.social-media:hover {
        transform: scale(110%);
    }

    #instagram {
        background-color: transparent;
    }

    /************************* @media header *************************/
    header {
        position: relative;
    }

    #logo-header {
        display: block;
        position: absolute;
        right: auto;
        bottom: -5%;
        width: max(14vw, 60px);
        background-color: black;
        border-radius: 50%;
        box-shadow: 5px 5px 10px;
        opacity: .8;
        cursor: pointer;
        transition: transform ease .1s;
    }

    #logo-header:hover {
        transform: scale(1.1);
    }

    .radio-slide-class {
        display: none;
    }

    #div-images-header {
        background-image: url('../img/Image2.jpg');
    }
}