@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

/************************* General settings *************************/
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
}

html {
    display: flex;
    flex-direction: column;
    align-items: center
}

body {
    width: min(100vw, 1920px);
    /* remove*/
    /* height: 3000px; */
    background-color: #000000;
}

/* remove */
main {
    background-color: white;
    /* height: 1000px; */
}

/************************* Nav - menu *************************/
#section-menu-bar-nav {
    position: sticky;
    z-index: 20;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: min(45px, 8vw);
    background-color: rgb(9, 112, 84, .9);
    box-shadow: 3px 5px 10px;
}

#section-menu-bar-nav>a:first-child {
    margin-right: 1%;
    text-decoration: none;
    color: #000000;
}

#logo-nav {
    width: min(75px, 9vw);
    height: min(75px, 9vw);
    border-radius: 50%;
    box-shadow: 0px 5px 15px black;
    cursor: pointer;
    transition: transform ease-in-out .2s;
}

#logo-nav:hover {
    transform: scale(1.1);
}

/* Mnage on @media */
#contact-menu-bar-section {
    display: none;
}

/* Mnage the responsive nav on @media */
#responsive-nav-input {
    display: none;
}

#menu-bar-nav>ul {
    height: 100%;
    display: flex;
    flex-direction: row;
}

/* all links (<a>) inside the nav */
#menu-bar-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: min(13px, 1.6vw);
    text-decoration: none;
    color: white;
}

#home-li>a>img {
    width: min(35px, 6vw);
    filter: invert();
    opacity: .75;
}

#menu-bar-nav>ul>li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(125px, 12.5vw);
    list-style: none;
}

#menu-bar-nav>ul>li:hover {
    background-color: #10b98c;
    cursor: pointer;
}

#menu-bar-nav>ul>li:nth-child(3) a {
    color: yellow !important;
}

#menu-bar-nav>ul>li:last-child a {
    background-color: #FFDE00;
    color: black !important;
}

#menu-bar-nav>ul>li:last-child:hover a {
    background-color: #ddc002;
}

/************************* Nav - menu > sub-menus *************************/
#sub-menu-bar-tryarchery>div,
#sub-menu-bar-disciplines>div {
    width: 100%;
    height: 100%;
}

#sub-menu-bar-tryarchery>div>a>h3 {
    text-align: center;
}

/* Arrows to show: expand and contract */
#sub-menu-bar-tryarchery i,
#sub-menu-bar-disciplines i {
    width: 20px;
    height: 20px;
    background-image: url('../icon/expand-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert();
}

#sub-menu-bar-tryarchery:hover>div>i,
#sub-menu-bar-disciplines:hover>div>i {
    background-image: url('../icon/contract-icon.png');
}

/* sub-menus */
.ul-sub-menu-bar {
    position: absolute;
    top: 115%;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #097054;
    list-style: none;
    width: min(210px, 22vw);
    height: min(180px, 22vw);
    opacity: 0;
    box-shadow: 3px 5px 10px black;
    transform: scaleY(0);
    transform-origin: top left;
    transition: transform ease .2s, opacity ease-out .4s;
}

.ul-sub-menu-bar>li {
    height: 100%;
}

.ul-sub-menu-bar>li a {
    justify-content: left !important;
    padding-left: 5%;
}

.ul-sub-menu-bar>li:hover {
    background-color: #10b98c;
}

#sub-menu-bar-tryarchery:hover>ul,
#sub-menu-bar-disciplines:hover>ul {
    /* 410% to allow the sub menu shows up, from up to down.  */
    transform: scaleY(1);
    opacity: .9;
}

/************************* Social Media *************************/
#container-social-media-float {
    position: fixed;
    right: -40px;
    top: 30%;
    display: flex;
    flex-direction: column;
    background-color: #FFDE00;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0px 5px 10px;
    transition: right ease-out .1s;
}

#container-social-media-float::before {
    content: "";
    position: absolute;
    top: calc(50% - 10px);
    left: -10px;
    width: 20px;
    height: 20px;
    background-color: #d6ba02;
    rotate: 45deg;
    z-index: -1;
}

#container-social-media-float:hover {
    right: 0px;
}

#container-social-media-float .social-media {
    width: 35px;
    margin: 6px;
    cursor: pointer;
}

#container-social-media-float .social-media:hover {
    transform: scale(110%);
}

#instagram {
    background-color: #FFDE00;
}

/************************* Header *************************/
header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: min(400px, 30vw);
}

#logo-link-header {
    display: none;
}

/************************* Header > to switch images on header *************************/
#container-slide-imgs-header {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.radio-slide-class {
    position: absolute;
    align-self: flex-end;
    width: min(20px, 2vw);
    height: min(20px, 2vw);
    margin-bottom: 1%;
    box-shadow: 2px 4px 5px;
    opacity: .7;
    transition: transform .1s ease;
}

.radio-slide-class:hover {
    transform: scale(1.2);
}

#input-images-slide-header-1 {
    margin-right: 6%;
}

#input-images-slide-header-2 {
    margin-right: 2%;
}

#input-images-slide-header-3 {
    margin-right: -2%;
}

#input-images-slide-header-4 {
    margin-right: -6%;
}

#container-slide-imgs-header img {
    width: 100%;
    height: 100%;
    display: none;
    transition: all ease 1s;
}

#container-images-header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#input-images-slide-header-1:checked~#container-images-header {
    background-image: url('../img/Image1.jpg');
}

#input-images-slide-header-2:checked~#container-images-header {
    background-image: url('../img/Image3.jpg');
}

#input-images-slide-header-3:checked~#container-images-header {
    background-image: url('../img/Image5.jpg');
}

#input-images-slide-header-4:checked~#container-images-header {
    background-image: url('../img/Image8.jpg');
}

/************************* main *************************/
/************************* main > info main section *************************/
#info-main-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8% 0%;
}

#info-main-section>* {
    width: min(350px, max(200px, 27vw));
    padding: 3%;
}

#info-main-section article:first-child,
#info-main-section article:last-child {
    background-color: rgb(255, 222, 0, .1);
    text-align: justify;
}

.half-title-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(101, 153, 255, .1);
    font-size: min(35px, 5vw);
    text-align: center;
    color: #097054;
}

.half-title-main img {
    width: min(150px, 50%);
    margin-top: 5%;
}

/************************* main > tryarchery main section *************************/
#tryarchery-fix-img-section {
    width: 100%;
    height: 100vh;
    background-image: url('../img/Image2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: center;
    background-size: 180vw;
}

#tryarchery-global-article {
    display: flex;
    flex-direction: column;
    padding: 0% 3%;
    background-color: #000000;
    color: #FFFFFF;
}

#tryarchery-global-article article {
    margin: 3% 0%;
}

#tryarchery-global-article article a {
    color: white;
}

/* first article - tryarchery main section */
#tryarchery-global-article>article:first-child {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 2% 3%;
    background-color: rgb(255, 222, 0, .1);
}

#tryarchery-global-article>article:first-child>div {
    position: relative;
}

#tryarchery-global-article>article:first-child>h2 {
    margin-left: 3%;
}

#tryarchery-global-article>article:first-child>div>span {
    position: absolute;
    right: 10%;
    top: 50%;
    font-size: min(150px, 15vw);
    transform: translateY(-50%);
}

#tryarchery-global-article>article:first-child>* {
    margin: 1% 0%;
}

#tryarchery-global-article>article:first-child div {
    width: auto;
    padding: 3%;
    background-color: rgb(255, 222, 0, .1);
}

#tryarchery-global-article>article:first-child>div * {
    list-style: symbols(cyclic '\27B3') inside;
}

/* second article - tryarchery main section */
#tryarchery-global-article>article:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0%;
    background-color: rgb(101, 153, 255, .1);
}

#tryarchery-global-article>article:nth-child(2)>p {
    width: 60vw;
    padding: 3%;
    background-color: rgb(101, 153, 255, .1);
    text-align: justify;
}

#tryarchery-global-article>article:nth-child(2) * {
    margin: 1% 0%;
}

/* last article - tryarchery main section */
#tryarchery-global-article>article:last-child {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 2% 3%;
    background-color: rgb(255, 153, 0, .1);
}

#tryarchery-global-article>article:last-child>h2 {
    margin-right: 3%;

}

#tryarchery-global-article>article:last-child>p {
    width: auto;
    padding: 3% 3% 3% 45vw;
    background-color: rgb(255, 153, 0, .1);
    text-align: justify;
}

#tryarchery-global-article>article:last-child>span {
    position: absolute;
    left: 10%;
    top: 50%;
    font-size: min(150px, 15vw);
    transform: translateY(-40%);
}

#tryarchery-global-article>article:last-child * {
    margin: 1% 0%;
}

/************************* main > membership fees main section *************************/
#membership-main-section {
    padding: 3%;
}

#container-membership-main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-icon-membership {
    width: 150px;
    height: 150px;
    background-image: url('../icon/membership-icon.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    ;
    border-radius: 40px;
    box-shadow: 0px 5px 10px;
}

#container-membership-main-section>button {
    display: flex;
    justify-content: center;
    width: min(220px, 30vw);
    height: min(60px, 10vw);
    background-color: #6599FF;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 4px 5px;
}

#container-membership-main-section>button:hover {
    background-color: #84acfc;
}

#container-membership-main-section>button>a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: min(1.5em, 4vw);
    color: #000000;
    transition: transform ease .1s;
}

#container-membership-main-section>button>a:hover {
    transform: scale(1.1);
}

#container-membership-main-section * {
    margin: 2% 0%;
}

/************************* main > target archery disciplines main section *************************/
#archery-disciplines-main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: min(40px, 3vw);
    background-color: black;
    color: #FFFFFF;
}

#archery-disciplines-main-section>h2 {
    margin-bottom: 2%;
}

#container-archery-disciplines-main-section {
    position: relative;
    width: 100%;
    height: min(500px, 60vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 2% 0%;
    background-color: rgb(9, 112, 84, .3);
}

#container-archery-disciplines-main-section a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(300px, 25vw);
    height: min(40px, 7vw);
    margin: 0.5% 8%;
    background-color: rgb(255, 222, 0, .4);
    font-size: min(1.2em, 3.5vw);
    text-decoration: none;
    border-radius: 0.5vw;
    color: black;
    cursor: pointer;
    box-shadow: 0px 0px 18px black;
}

#container-archery-disciplines-main-section a:hover {
    background-color: rgb(255, 222, 0, .9);
}

#container-archery-disciplines-main-section a:first-child:hover~#container-disciplines-pictures {
    background-image: url(../img/Image9.jpg);
}

#container-archery-disciplines-main-section a:nth-child(2):hover~#container-disciplines-pictures {
    background-image: url(../img/Image11.jpg);
}

#container-archery-disciplines-main-section a:nth-child(3):hover~#container-disciplines-pictures {
    background-image: url(../img/Image13.jpg);
}

#container-disciplines-pictures {
    position: absolute;
    right: 8%;
    width: min(500px, 50vw);
    height: min(500px, 50vw);
    background-image: url('../img/Image7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 0px 0px 18px black;
}

/************************* main > coaching main section *************************/
#coaching-main-section {
    padding: 4%;
}

#article-coaching-main-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 5% 0%;
}

#article-coaching-main-section>p>i {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('../icon/coach-icon.png');
    background-repeat: no-repeat;
}

#article-coaching-main-section>p {
    width: 400px;
    text-align: justify;
}

/************************* main > form main section *************************/
#form-main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4%;
    background-color: #000000;
    color: #FFFFFF;
}

#form-main-section>form {
    display: flex;
    flex-direction: column;
    width: min(500px, 90vw);
    margin-top: 4%;
}

#form-main-section>form>input[type=email],
#form-main-section>form>input[type=text] {
    height: 40px;
    margin-bottom: 5%;
    padding-left: 2%;
}


#form-main-section>form>input[type=submit] {
    height: 40px;
    margin-top: 1%;
    background-color: #097054;
    border: none;
    font-size: 1.1em;
    cursor: pointer;
    transition: font-size ease .1s;
}

#form-main-section>form>input[type=submit]:hover {
    background-color: #0d9b75;
    font-size: 1.3em;

}


/************************* footer *************************/
/* general settings */
#info-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #097054;
    padding: 0% 0%;
}

#info-footer fieldset {
    display: flex;
    flex-direction: column;
    width: min(300px, calc(86vw/3));
    margin: 8% 0%;
    padding: 2%;
    border-radius: 10px;
    border-color: #097054;
    box-shadow: 0px 5px 10px black;
}

#info-footer legend {
    width: 70%;
    padding: 2% 0%;
    background-color: black;
    color: white;
    font-size: 1.22m;
    font-weight: bolder;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 5px 10px black;
}

/* general info footer */
#general-info-footer-fieldset {
    background-color: rgb(255, 222, 0, .1);
}

#general-info-footer-fieldset div {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 3%;
    margin-bottom: 3%;
}

#general-info-footer-fieldset div>* {
    margin-right: 2%;
}

#general-info-footer-fieldset b {
    text-decoration: underline;
}

/* map footer */
#map-footer-fieldset {
    background-color: rgb(101, 153, 255, .1);
}

#map-footer-fieldset ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
}

#map-footer-fieldset li {
    text-align: center;
    width: 100%;
    margin: 2%;
}

#map-footer-fieldset li a {
    color: black;
}

/* social media footer */
#social-media-footer-fieldset {
    background-color: rgb(255, 153, 0, .1);
}

#container-social-media-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#container-social-media-footer>a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: black;
    text-decoration: none;
}

#container-social-media-footer>a>img {
    width: min(50px, 10vw);
    height: min(50px, 10vw);
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1%;
    margin: 1% 0%;
    border-radius: 10px;
    box-shadow: 0px 5px 10px;
    cursor: pointer;
    transition: transform ease .2s;
}

#container-social-media-footer>a:hover>img {
    transform: scale(1.2);
}

/* section copyrights */
#copyrights>p {
    text-align: center;
    padding: 2% 0%;
    color: white;
}

/************************* @media *************************/
/************************* @media *************************/
@media screen and (max-width: 720px) {

    /************************* @media - nav - menu *************************/
    #section-menu-bar-nav {
        /* flex-direction: row; */
        justify-content: flex-end;
        z-index: 10;
    }

    #logo-nav {
        display: none;
    }

    #contact-menu-bar-section {
        display: block;
        display: flex;
        align-self: center;
        margin-right: 20%;
        font-size: 3vw;
    }

    #phone-icon-menu-bar-section {
        width: 12%;
        margin-right: 5%;
    }

    #responsive-nav-input {
        display: block;
        width: 9vw;
        height: 100%;
        background-image: url('../icon/menu-close.png');
        background-size: 65%;
        background-repeat: no-repeat;
        background-position: center;
        appearance: none;
        box-shadow: -1px 2px 3px;
    }

    #responsive-nav-input:hover {
        background-color: #10b98c;
    }

    #responsive-nav-input:checked {
        background-image: url('../icon/menu-open.png');
    }

    #menu-bar-nav {
        position: absolute;
        top: 100%;
        background-color: #097054;
        height: 0vh;
        width: 0vw;
        opacity: .95;
        transition: all ease-out .2s;
    }

    #responsive-nav-input:checked+#menu-bar-nav {
        height: 100vh;
        width: 100vw;
    }

    #menu-bar-nav>ul {
        display: none;
    }

    #responsive-nav-input:checked+#menu-bar-nav>ul {
        display: block;
    }

    #home-li>a>img {
        padding-left: 5%;
        filter: none;
        opacity: 1;
    }

    #menu-bar-nav>ul>li {
        flex-direction: column;
        width: 100%;
    }

    #menu-bar-nav>ul>li>a {
        justify-content: left;
        padding: 2.3% 0%;
        font-size: .9em;
        color: black;
    }

    #menu-bar-nav>ul>li>a>h3 {
        padding-left: 5%;
    }

    /************************* @media - nav - menu > sub-menus *************************/
    #sub-menu-bar-tryarchery>div>a,
    #sub-menu-bar-disciplines>div>a {
        width: auto;
        justify-content: space-between !important;
        font-size: .9em;
        color: black;
        padding: 2.3% 0%;
    }

    #sub-menu-bar-tryarchery>div>a,
    #sub-menu-bar-disciplines>div>a {
        padding-left: 5%;
    }

    #sub-menu-bar-tryarchery>div>a>i,
    #sub-menu-bar-disciplines>div>a>i {
        filter: none;
        padding-right: 5%;
    }

    .ul-sub-menu-bar {
        position: static;
        z-index: inherit;
        width: 100%;
        height: 0px;
        background-color: #0e9b76;
        transform-origin: top;
        transition: height ease .2s, opacity ease-out .4s;
    }

    #sub-menu-bar-tryarchery:hover>ul,
    #sub-menu-bar-disciplines:hover>ul {
        height: 130px;
    }

    .ul-sub-menu-bar>li {
        font-weight: lighter;
    }

    .ul-sub-menu-bar>li a {
        color: #000000 !important;
        font-size: min(16px, 3.8vw) !important;
    }

    /************************* @media Social Media *************************/
    #container-social-media-float {
        flex-direction: row;
        /* position: fixed; */
        left: 0px;
        top: 0px;
        z-index: 10;
        width: fit-content !important;
        background-color: #053327;
        border-radius: 6px;
        padding: 2px;
        /* box-shadow: none; */
    }

    #container-social-media-float::before {
        display: none;
    }

    #container-social-media-float a {
        display: flex;
    }

    #container-social-media-float .social-media {
        width: min(40px, 7vw) !important;
        margin: 0px;
        cursor: pointer;
    }

    #container-social-media-float>a>.social-media:hover {
        transform: scale(1.1);
    }

    #instagram {
        background-color: transparent;
    }

    /************************* @media header *************************/
    header {
        position: relative;
    }

    #logo-link-header {
        position: absolute;
        bottom: -5%;
        display: block;
        border-radius: 50%;
        background-color: black;
        color: black;
        box-shadow: 0px 5px 10px;
        opacity: .9;
    }

    #logo-header {
        width: max(14vw, 20px);
        transition: transform ease .1s;
    }

    #logo-header:hover {
        transform: scale(1.1);
    }

    .radio-slide-class {
        display: none;
    }

    #container-images-header {
        background-image: url('../img/Image2.jpg');
    }

    /************************* @media main *************************/
    /************************* main > info main section *************************/
    #info-main-section>* {
        width: 90%;
    }

    /************************* @media main > tryarchery main section *************************/
    #tryarchery-fix-img-section {
        background-size: 300vw;
    }

    #tryarchery-global-article>article:first-child>div>span {
        font-size: 15vw;


    }
}